PowerSetup.json
package.psd1
PowerAppRemove.ps1
PowerChocoSetup.ps1
PowerExplorerSetup.ps1
PowerLangSetup.ps1
PowerNetSetup.ps1
PowerPlanSetup.ps1
PowerSetupC.ps1
Power Setup.exe
PowerSetup.exe
Microsoft.PowerShell.ConsoleHost.dll
Power Setup.exe.config
Power Setup.pdb
System.Management.Automation.dll
AdminDomainSetup.ps1
AdminDomainWPF.xaml
